body {
    font-size: 2rem;
    margin: 0;
}
h1, p {
    margin: 0;
}
.container {
    font-size: 0;
    /* 공백문자를 0으로하기 위해! */
    max-width: 1000px;
    /* 최대 천까진 유연하게 움직임 */
    margin: 0 auto;
    /* auto : 남은 여백을 알아서 나눠가짐 */
}
.item {
    padding: 5%;
    /* width: 100%
    block level은 따로 해줄 필요 없다. */
    display: inline-block;
    font-size: 2rem;
    vertical-align: top;
}
.item-a {
    width: 30%;
    background-color: yellow;
}
.item-b {
    width: 50%;
    background-color: yellowgreen;
}
 